Source: hsn2-reporter
Section: unknown
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), maven
Standards-Version: 3.9.3

Package: hsn2-reporter
Architecture: all
Recommends: couchdb (>= 1.0)
Depends: ${misc:Depends}
Description: HSN2 Service Reporter
